/* colors:
eggshell: #f7f5e6;
dark blue: #333a56;
light blue: #52658f;
gray: #e8e8e8;
white: #fff;
 */

/*fonts:
Lato: san-serif
Lora: serif


/* Global Layout Set-up */
* { 
  box-sizing: border-box;
}
  
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: #222;
  background: #f7f5e6;
/*   background: #a9bdb0;*/
}

h1 {
    font-family: 'Lora', serif;
    font-weight: 400;
}

h2 {
    font-family: 'Lato', sans-serif;
}


/* Link Styles */

a {
  text-decoration: none;
  color: #999;
}
a:hover {
  color: #6633ff;
}

.contact-info a:hover {
  color: #333a56;
}

/* Section Styles */

.main-nav {
  width: 100%;
  background: #333a56;
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 400;
  list-style-type: none;
  margin: 0 auto;
  padding: 0px;
}

.nav li {
  padding: 5px 10px 10px 10px;
}

/* NAV LINK */

.nav a {
  transition: all .5s;
  padding: 5px;
}
.nav a:hover {
  color: #999;
  border-style: solid;
  border-width: thin;
  border-color: #fff;
}

a.selected {
  color: white;
}

.name {
    font-family: 'Lora', serif;
    display: block;
    margin-right: auto;
    color: #999;
}

.name a:hover {
    border-style: none;
}

header {
  min-height: 470px;
  text-align: center;
  background: url('images/philadelphia.jpg') no-repeat top center ;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
  transition: all .5s;
}

header {
  line-height: 1.5;
}

header .profile-image {
  background-color: rgba(0, 0, 0, 0.4);
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #f7f5e6;
  transition: all .5s;
}

header .profile-image:hover {
  transform: scale(1.2) rotate(5deg);
}

.tag {
  background-color: rgba(51, 58, 86, 0.8);
  color: #e8e8e8;
  padding: 10px;
  border-radius: 5px;
  display: table;
  margin: 10px auto;
} 
.location {
  background-color: #e8e8e8;
  color: #52658f;
}

.flex {
    background-color: #f7f5e6;
}

.card {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  background: #fff;
  border: 2px solid #ccc;
  border-radius: 6px;
  padding: 20px 40px 40px;
  transition: all .5s;
  box-shadow: 1px 1px 5px #222;
}

 .card:hover {
    border-color: #333a56;   
  }

ul.skills {
  padding: 0;
  text-align: center;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: #52658f;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills li:nth-child(odd) {
  background: #333a56;
}

footer {
  width: 100%;
  min-height: 30px;
  padding: 40px 0 40px 0;
}

footer .copyright {
  top: -8px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}

a.twitter {
  background-image: url(images/twitter.svg);
}

a.linkedin {
  background-image: url(images/linkedin.svg);
}

a.github {
  background-image: url(images/github.svg);
}

a.social:hover {
  opacity: 1;
}

.clearfix {
  clear: both;
}

/* CONTACT PAGE */

.contact-body {
    background-color: #f7f5e6;
}

.contact-nav {
  width: 100%;
/*  background: rgba(0, 0, 0, 0.7);*/
  background: #333a56;
  min-height: 30px;
  padding: 10px;
  text-align: center;
}

.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
  
}

.contact-info a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

.contact-info li.phone a {
  background-image: url('images/phone1.png');
}

.contact-info li.mail a {
  background-image: url('images/mail1.png');
}

.white {
    background-color: #fff;
}

.flex-contact {
    background-color: #fff;
}

.line {
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-color: #999;
    margin: 5px 30px;
}

.card-thanks {
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  transition: all .5s;
}

.card-contact {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  background: #fff;
  transition: all .5s;
}

.card-thanks h2 {
    font-size: 2em;
    color: #333a56;
}

.contact-footer {
    background-color: #f7f5e6;
}


/* Styles for larger screens */
@media screen and (min-width: 720px) {
  
.flex {
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: flex; 
    max-width: 1200px;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: 0 auto;
  }
    
    
.flex-contact {
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: flex; 
    max-width: 1200px;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: 0 auto;
  }

header {
    min-height: 530px;
    padding-top: 90px;
    transition: all .5s;
  }

.nav {
    max-width: 1200px;
    padding: 0 30px;
  }

    
main {
    padding-top: 20px;
  }

main p {
    line-height: 1.6em;
  }
    
    
.line {
    border-right-style: solid;
    border-right-width: thin;
    border-color: #999;
    margin: 25px 0;
}

footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }

}

